@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Thin */
@font-face {
  font-family: 'Pretendard';
  font-weight: 100; /* Thin */
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/woff2/Pretendard-Thin.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/woff/Pretendard-Thin.woff')
      format('woff');
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/woff2/Pretendard-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/woff/Pretendard-Regular.woff')
      format('woff');
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Pretendard';
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/woff2/Pretendard-Bold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/woff/Pretendard-Bold.woff')
      format('woff');
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Pretendard;
}

div,
button,
select,
input {
  box-sizing: border-box !important;
}
button {
  position: relative;
  overflow: hidden;
}

.selected {
  background-color: #5e7ef0 !important;
  color: #fff !important;
}

/* Ripple 효과 */
button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

/* 클릭 시 애니메이션 */
button:active::after {
  width: 100%;
  transform: scale(4);
  opacity: 1;
}
